p {
	font-family: Arial, "Times New Roman", Times, serif;
	font-size: 60px;
}

h1 {
	font-size: 50px;
	font-family: Arial, "Times New Roman", Times, serif;
}

h2 {
	font-size: 70px;
	font-family: Tahoma, "Times New Roman", Times, serif;
}