table {
	font-size: 34px;
	border-collapse: collapse;
	width: 100%;
}

th, td {
	border: 3px solid white;
	width:14.285%;
	height: 1.5em;
}

th {
	height: 3em;
	color: purple;
	font-weight: 100;
	font-size: 64px;
	font-family: ravie;
	background-color: lightgray;
}

td {
	color: white;
	background-color: gray;
	text-align: center;
}

.black {
	background-color: black;
	border: 3px solid black;
	height: 2em;
}

.fade {
	color: lightgray;
	background-color: darkgray;
}